# Exclude environment files and caches
.env
__pycache__/
.pytest_cache/
.vscode/

# Python build files
build/
dist/
*.egg-info/
*.egg

# Distribution packages
*.tar.gz
*.zip
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

chats/